{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block titlemessage %}
    <h1>{{ post.title }}</h1>
{% endblock %}
{% block content %}
  <li type="square"><b>相關資訊網站連結：</b>
    <button class='btn btn-outline-info btn-sm'>
      <a href="http://www.shippingdigest.tw/news.aspx"><b>航貿週刊</b></a>
    </button>
    <button class='btn btn-outline-info btn-sm'>
      <a href="https://www.twport.com.tw/chinese/News.aspx?n=4E4437C60EA3BF8E&sms=AB20696A04F7E563"><b>臺灣港務股份有限公司</b></a>
    </button>
      <div class="card">
        <div class="card-header">
          {{ post.title }}
        </div>
        <div class="card-body">
          {{ post.body | linebreaks }}
        </div>
        <div class="card-footer">
          {{ post.pub_date }}
        </div>
      </div>
{% endblock %}
    



